# Server
PORT=3000

# JWT
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gp_ansor_kujorowesi
DB_USER=postgres
DB_PASS=postgres

